<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product App</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>

    <div class="nav-bar">nav bar</div>
    
    <div id="app">
        <div class="product">
            <div class="product-image">
                <img v-bind:src="image" v-bind:alt="altText">
            </div>

            <div class="product-info">
                <h1>{{product}}</h1>
                <p v-if="inventory > 10">In Stock</p>
                <p v-else-if ="inventory <= 10 && inventory > 0">Almost in stock</p>
                <span v-else="onSale">Out of Stock!</span>
                <span v-if="onSale">On sale!</span>
              
                <ul>
                    <li v-for="detail in details">{{ detail}}</li>
                </ul>

                Size:
                <ul>
                    <li v-for="size in sizes" >{{ size }}</li>
                </ul>

               Color:
               <ul>
                <div v-for="variant in variants" :key="variant.variantId">
                    <li>{{ variant.variantColor }}</li>
                </div>
               </ul>
                

               

            </div>               
        </div>            
    </div>
    <!-- https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js -->
    <!-- https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>

>>>>>>>>>>>>>    ATUALIZADO 09/01 FAZER AULA 05

</body>
</html>
